.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  height: 350px;
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%))
}

.hero h1 {
  max-width: 1200px;
  z-index: 1;
  margin: 68px;
  padding: 31px;
  color: var(--background-color);
  background-color: rgba(19 19 19 / 75%);
  position: relative;
  width: fit-content;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
    height: 700px;
  }
}
